<div class="container">
  <!-- <header-i18n showLangText="false" class="langs"></header-i18n> -->
  <div class="wrap">
    <div class="wrap-left">
    </div>
    <div class="wrap-right">
      <div class="top">
        <div class="head">
          <img class="logo" src="./assets/logo-full-black.png">
          <span class="title"></span>
        </div>
        <div class="desc">视频AI</div>
      </div>
      <router-outlet></router-outlet>
      <!-- <global-footer [links]="links">
        Copyright
        <i class="anticon anticon-copyright"></i> {{year}}
        <a href="http://www.dsunsoft.com/" target="_blank">武汉鼎盛数码科技有限公司</a>
      </global-footer> -->
    </div>
  </div>
</div>
