<!--
/**
 * 描述:[water_quality_warning][水质超指标预警详细记录]表的列表页面
 * @version:1.0.0
 * @author:  administrator
 * @创建时间: ${date}
 */
 -->
<div nz-row [nzGutter]="{ md: 8, lg: 24, xl: 48 }">
  <nz-card [nzBordered]="false">
    <nz-col nzLg="24" nzMd="24" nzSm="24">
      <form nz-form [nzLayout]="'inline'" (ngSubmit)="load()" class="search__form">
        <nz-row [nzGutter]="{ md: 8, lg: 24, xl: 48 }">
          <nz-col nzSm="24" nzMd="12" nzLg="8" nzXl="6" nzXXl="4">
            <nz-form-item>
              <nz-form-label nzFor="code">指标编码</nz-form-label>
              <nz-form-control>
                <input nz-input [(ngModel)]="query.code" name="code" placeholder="请输入" id="code">
              </nz-form-control>
            </nz-form-item>
          </nz-col>
          <nz-col nzSm="24" nzMd="12" nzLg="8" nzXl="6" nzXXl="4">
            <nz-form-item>
              <nz-form-label nzFor="name">指标名称</nz-form-label>
              <nz-form-control>
                <input nz-input [(ngModel)]="query.name" name="name" placeholder="请输入" id="name">
              </nz-form-control>
            </nz-form-item>
          </nz-col>
          <nz-col nzSm="24" nzMd="12" nzLg="8" nzXl="6" nzXXl="4">
            <nz-form-item>
              <nz-form-label nzFor="startTime">数据时间</nz-form-label>
              <nz-form-control>
                <nz-date-picker name="startTime" id="startTime" nzFormat="yyyy-MM-dd HH:mm:ss" [nzPlaceHolder]="'开始'"
                  [(ngModel)]="query.startTime"></nz-date-picker>
              </nz-form-control>
            </nz-form-item>
          </nz-col>
          <nz-col nzSm="24" nzMd="12" nzLg="8" nzXl="6" nzXXl="4">
            <nz-form-item>
              <nz-form-label nzFor="endTime">至</nz-form-label>
              <nz-form-control>
                <nz-date-picker name="endTime" id="endTime" nzFormat="yyyy-MM-dd HH:mm:ss" [nzPlaceHolder]="'结束'"
                  [(ngModel)]="query.endTime"></nz-date-picker>
              </nz-form-control>
            </nz-form-item>
          </nz-col>
          <nz-col nzSm="24" nzMd="12" nzLg="8" nzXl="6" nzXXl="3" [class.text-right]="true">
            <nz-form-item>
              <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading">查询</button>
              <button nz-button type="reset" (click)="reset()" class="mx-sm">重置</button>
            </nz-form-item>
          </nz-col>
        </nz-row>
      </form>
      <button nz-button (click)="add()" [nzType]="'primary'">
        <i nz-icon type="plus"></i>
        <span>新建</span>
      </button>
      <st #st [columns]="columns" [data]="data" [pi]="query.pageIndex" [ps]="query.pageSize" [total]="query.total" [page]="ST_PAGE"
        [loading]="loading" (change)="stChange($event)">
      </st>
    </nz-col>
  </nz-card>
</div>