<div class="modal-header">
    <div class="modal-title">打印机设置</div>
</div>
<div class="modal-body">
    <!-- {{query | json}} -->
    <form nz-form #form="ngForm" se-container="1" size="compact" labelWidth="130" gutter="32">
        <se label="配货单打印机" required>
            <nz-select [(ngModel)]="data.pickPrinter" name="pickPrinter" id="pickPrinter" [nzPlaceHolder]="'请选择'"
                [nzAllowClear]="true" style="width: 300px;">
                <nz-option *ngFor="let i of printer;" [nzLabel]="i" [nzValue]="i"></nz-option>
            </nz-select>
        </se>
        <se label="快递单打印机" required>
            <nz-select [(ngModel)]="data.logisticPrinter" name="logisticPrinter" id="logisticPrinter"
                [nzPlaceHolder]="'请选择'" [nzAllowClear]="true" style="width: 300px;">
                <nz-option *ngFor="let i of printer;" [nzLabel]="i" [nzValue]="i"></nz-option>
            </nz-select>
        </se>
        <se label="打印快递LOGO" required>
            <nz-select [(ngModel)]="data.isPrintlogo" name="isPrintlogo" id="isPrintlogo" [nzPlaceHolder]="'请选择'"
                [nzAllowClear]="true" style="width: 300px;">
                <nz-option *ngFor="let i of shiFou;" [nzLabel]="i.text" [nzValue]="i.value"></nz-option>
            </nz-select>
        </se>
    </form>
</div>
<div class="modal-footer">
    <button nz-button type="button" (click)="close()">关闭</button>
    <button nz-button type="button" [nzType]="'primary'" (click)="submit()" [disabled]="!form.valid">确认</button>
</div>