<div class="modal-header">
  <div class="modal-title">数据字典键值信息</div>
</div>
<div class="modal-body">
<form nz-form #form="ngForm" se-container size="compact" gutter="24">
  <se label="标签" required col="1">
    <input type="text" nz-input [(ngModel)]="record.label" name="label" required>
  </se>
  <se label="键值" required  col="1">
    <input type="text" nz-input [(ngModel)]="record.value" name="value" required>
  </se>
  <se label="*排序" required  col="1">
    <input type="text" nz-input [(ngModel)]="record.sort" name="sort" required>
  </se>
</form>
</div>
<div class="modal-footer">
  <button nz-button type="button" (click)="close()">关闭</button>
  <button nz-button type="submit" [nzType]="'primary'" (click)="save()" [disabled]="!form.valid">保存</button>
</div>