<page-header [title]="'客户信息'"></page-header>
<div nz-row [nzGutter]="{ md: 8, lg: 24, xl: 48 }">
  <nz-card [nzBordered]="false">
    <nz-col nzLg=12 nzMd="12" nzSm="24">
      <form nz-form [nzLayout]="'inline'" (ngSubmit)="load()" class="search__form">
        <nz-row [nzGutter]="{ md: 8, lg: 24, xl: 48 }">
          <nz-col nzSm="24" nzMd="12" nzLg="8" nzXl="6" nzXXl="6">
            <nz-form-item>
              <nz-form-label nzFor="type">类型</nz-form-label>
              <nz-form-control>
                <input nz-input [(ngModel)]="query.type" name="type" placeholder="请输入" id="type">
              </nz-form-control>
            </nz-form-item>
          </nz-col>
          <nz-col nzSm="24" nzMd="12" nzLg="8" nzXl="6" nzXXl="6">
            <nz-form-item>
              <nz-form-label nzFor="type">描述</nz-form-label>
              <nz-form-control>
                <input nz-input [(ngModel)]="query.description" name="description" placeholder="请输入" id="description">
              </nz-form-control>
            </nz-form-item>
          </nz-col>
          <nz-col nzSm="24" nzMd="12" nzLg="8" nzXl="6" nzXXl="6" [class.text-right]="true">
            <nz-form-item>
              <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading">查询</button>
            <button nz-button type="reset" (click)="reset()" class="mx-sm">重置</button>
            </nz-form-item>
          </nz-col>
        </nz-row>
      </form>
      <button nz-button (click)="openEdit()" [nzType]="'primary'">
        <i nz-icon type="plus"></i>
        <span>新建</span>
      </button>
      <!-- <button nz-button (click)="st.export(exportData, { filename: '数据字典类型.xlsx', sheetname: '数据字典类型' })" [nzType]="'primary'">
        <i nz-icon type="file-excel"></i>
        <span>导出</span>
      </button> -->
      <st #st [columns]="columns" [data]="data" [pi]="query.pageIndex" [ps]="query.pageSize" [total]="query.total" 
      [page]="ST_PAGE" [loading]="loading" (change)="stChange($event)"  [scroll]="{y:'550px'}">
      </st>
    </nz-col>
    <nz-col nzLg="12" nzMd="12" nzSm="24">
      <!-- <form nz-form [nzLayout]="'inline'" (ngSubmit)="loadDicValue()" class="search__form">
        <nz-row [nzGutter]="{ md: 8, lg: 24, xl: 48 }">
          <nz-col nzMd="6" nzSm="24">
            <nz-form-item>
              <nz-form-label nzFor="type">类型</nz-form-label>
              <nz-form-control>
                <input nz-input [(ngModel)]="queryDicValue.type" name="type" placeholder="请输入" id="type">
              </nz-form-control>
            </nz-form-item>
          </nz-col>
          <nz-col nzMd="6" nzSm="24">
            <nz-form-item>
              <nz-form-label nzFor="type">描述</nz-form-label>
              <nz-form-control>
                <input nz-input [(ngModel)]="queryDicValue.description" name="description" placeholder="请输入" id="description">
              </nz-form-control>
            </nz-form-item>
          </nz-col>
          <nz-col nzMd="6" nzSm="24" [class.text-right]="true">
            <nz-form-item>
              <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading">查询</button>
            <button nz-button type="reset" (click)="reset()" class="mx-sm">重置</button>
            </nz-form-item>
          </nz-col>
        </nz-row>
      </form> -->
      <button nz-button (click)="openEditDicValue()" [nzType]="'primary'">
        <i nz-icon type="plus"></i>
        <span>添加键值</span>
      </button>
      <!-- <button nz-button (click)="stDicValue.export(exportData, { filename: '数据字典键值.xlsx', sheetname: '数据字典键值' })" [nzType]="'primary'">
        <i nz-icon type="file-excel"></i>
        <span>导出</span>
      </button> -->
      <st #stDicValue [columns]="columnsDicValue" [data]="dataDicValue"  [page]="{show:false}" [loading]="loadingDicValue" 
      (change)="stChangeDicValue($event)" [scroll]="{y:'550px'}">
      </st>
    </nz-col>
  </nz-card>
</div>